<template>
  <div>
    <div style="display: flex">
      <canvas ref="drawingCanvas" width="450" height="450" style="position: absolute; display: none" @mousemove="draw" @mouseup="endDraw"></canvas>
      <canvas ref="canvas" width="900" height="450" style="border: 1px solid black; display: none">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <div id="map" style="width: 400px; height: 400px"></div>
      <img v-if="imgUrl" :src="imgUrl" alt="" ref="image" crossorigin="anonymous">
    </div>
    <button @click="getImage('map')">get screenshot</button>
    <button @click="downloadImage()">download</button>
  </div>
</template>

<script>
import ymaps from 'ymaps'

export default {
  name: 'Map-',
  data() {
    return {
      placeMarkCoords: null,
      imgUrl: null,
      map: null,
      textCoords: {
        x: 0,
        y: 0,
      },
      pos: {
        x: 0,
        y: 0,
      },
      offset: {
        x: 0,
        y: 0,
      }
    }
  },
  methods: {
    getImage(type) {
      this.$refs.canvas.style.display = ''
      this.$refs.drawingCanvas.style.display = ''
      const zoom = this.map.getZoom()
      const center = this.map.getCenter().reverse()

      // &pt=${this.placeMarkCoords ? [...this.placeMarkCoords].reverse() : center},org,pmwtm1~37.64,55.76363,pmwtm99
      this.imgUrl = `https://static-maps.yandex.ru/1.x/?ll=${center}&size=450,450&z=${zoom}&l=${type}`

      const ctx = this.$refs.canvas.getContext("2d");
      this.$refs.drawingCanvas.getContext("2d").clearRect(0, 0, 450, 450)

      setTimeout(() => {
        if (type === 'map') {
          this.$refs.image.style.display = ''
          ctx.drawImage(this.$refs.image, 0, 0);
          this.getImage('sat')
        } else {
          ctx.drawImage(this.$refs.image, 450, 0);
          this.$refs.image.style.display = 'none'
        }
      }, 1000)
    },
    downloadImage() {
      const ctx = this.$refs.canvas.getContext("2d")
      ctx.drawImage(this.$refs.drawingCanvas, 0, 0);
      this.drawText('#ffffff')
      ctx.drawImage(this.$refs.drawingCanvas, 450, 0);
      this.$refs.drawingCanvas.getContext("2d").clearRect(0, 0, 450, 450)

      const link = document.createElement('a');
      link.download = 'filename.png';
      link.href = this.$refs.canvas.toDataURL()
      link.click();
      this.sendToServer()
    },
    sendToServer() {
      const xhr = new XMLHttpRequest();
      xhr.open("POST", '/to-server', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
        image: this.$refs.canvas.toDataURL()
      }));
    },
    draw(e) {
      // mouse left button must be pressed
      if (e.buttons !== 1) return;

      const x = e.clientX
      const ctx = this.$refs.drawingCanvas.getContext('2d')

      ctx.strokeStyle = '#c0392b';
      ctx.lineWidth = 3;
      ctx.lineCap = 'round';

      ctx.clearRect(0,0, 450, 450);
      ctx.beginPath();
      ctx.arc(this.pos.x, this.pos.y, x - this.pos.x, 0, 2 * Math.PI)
      ctx.stroke();
      this.drawPointer(e)
    },
    drawPointer(e) {
      const x = e.clientX
      const y = e.clientY

      const ctx = this.$refs.drawingCanvas.getContext('2d')
      ctx.strokeStyle = '#000000'
      ctx.lineWidth = 1

      ctx.beginPath();
      ctx.moveTo(this.pos.x, this.pos.y);
      ctx.lineTo(this.pos.x + ((x - this.pos.x) / 2), y + 50);

      this.textCoords.x = this.pos.x + ((x - this.pos.x) / 2) + 5
      this.textCoords.y = y + 45

      ctx.lineTo(x + 140, y + 50);
      ctx.stroke();
    },
    endDraw() {
      this.drawText('#000000')
    },
    drawText(color) {
      const ctx = this.$refs.drawingCanvas.getContext('2d')

      ctx.beginPath()
      ctx.font = "bold 20px Arial"
      ctx.fillStyle = color
      ctx.fillText('Место установки',this.textCoords.x,this.textCoords.y)
      ctx.closePath()
    },
    setPosition(e) {
      this.pos.x = e.clientX - this.offset.x;
      this.pos.y = e.clientY - this.offset.y;
    }
  },
  mounted() {
    document.addEventListener('mousedown', this.setPosition);

    this.offset = {
      x: this.$refs.canvas.getBoundingClientRect().left,
      y: this.$refs.canvas.getBoundingClientRect().top,
    }

    ymaps
        .load('https://api-maps.yandex.ru/2.1/?apikey=17e6ce90-fce7-465a-b699-a5d8994cd64c&lang=ru_RU')
        .then(maps => {
           const map = new maps.Map('map', {
                center: [55.755863, 37.617700],
                zoom: 10,
                controls: []
              },
              {
                suppressMapOpenBlock: true,
                balloonMaxWidth: 0
              }
          )
          map.controls.add('zoomControl')

          const searchControl = new maps.control.SearchControl({
            options: {
              provider: 'yandex#map',
              noPlacemark: true
            }
          })

          map.controls.add(searchControl)

          searchControl.events.add('resultselect', () => {
            this.placeMarkCoords = map.getCenter()
            map.geoObjects.removeAll()
            map.geoObjects.add(new maps.Placemark(this.placeMarkCoords))
          })

          map.events.add('click', (e) => {
            this.placeMarkCoords = e.get('coords')
            map.geoObjects.removeAll()
            map.geoObjects.add(new maps.Placemark(this.placeMarkCoords))
            map.setCenter(this.placeMarkCoords)
          })
          this.map = map
        })
  }
}
</script>
<style>
.ymaps-2-1-79-search__suggest {
  display: block;
  width: 250px;
}
</style>