<template>
    <div class="section">
        <div id="map"></div>
        <button class="btn" @click="typeMap">Сохранить</button>
        <div class="background" id="background">
          <div>
            <canvas ref="canvas" style="width: 740px; height: 450px"></canvas>
            <img :src="imgUrl" id="mapImg" width="450" height="450">
          </div>
          <button @click="closePopUp">close</button>
        </div>
    </div>
</template>

<script>
import ymaps from 'ymaps'

HTMLCanvasElement.prototype.renderImage = function(blob){
  var ctx = this.getContext('2d');
  // var img = new Image();

  // img.onload = function(){
  //   ctx.drawImage(img, 0, 0, 350, 700)
  // }
  //
  // img.src = URL.createObjectURL(blob);

  ctx.drawImage(document.getElementById('mapImg'), 0, 0)
}

export default {
  name: "mapy-flapy",
  data() {
    return {
      myMap: null,
      typeControl: null,
      btn: null,
      searchControl: null,
      imgUrl: null,
      imgBlob: null,
      satImg: null,
      marker: [],
      coords: null,
      coordinates: null,
      placemark: null,
      myGeo: null
    }
  },
  mounted() {
    // eslint-disable-next-line no-undef
     ymaps
        .load('https://api-maps.yandex.ru/2.1/?apikey=17e6ce90-fce7-465a-b699-a5d8994cd64c&lang=ru_RU')
        .then(maps => {
          this.myMap = new maps.Map('map', {
              center: [
                55.82896654088406,
                // eslint-disable-next-line no-loss-of-precision
                37.831893822753904
              ],
              zoom: 10,
              controls: []
            },
            {
              suppressMapOpenBlock: true, // убираем плашку "открыть в браузере"
              balloonMaxWidth: 0
            }
          )
          this.myMap.controls.add('zoomControl')

          const searchControl = new maps.control.SearchControl({
            options: {
              provider: 'yandex#map',
              noPlacemark: true
            }
          })

          let coords
          let myPlacemark
          let zoom
          let center

          this.myMap.controls.add(searchControl)

          searchControl.events.add('resultselect', () => {
            center = this.myMap.getCenter()
            coords = center
            // zoom = myMap.getZoom()
            myPlacemark = new maps.Placemark(center)
            this.myMap.geoObjects.removeAll()
            this.myMap.geoObjects.add(myPlacemark)
            coords.reverse()
          })

          this.myMap.events.add('click', (e) => {
            coords = e.get('coords')
            // zoom = myMap.getZoom()
            myPlacemark = new maps.Placemark(coords)
            this.myMap.geoObjects.removeAll()
            this.myMap.geoObjects.add(myPlacemark)
            this.myMap.setCenter(coords)
            coords.reverse()
          })

          this.myMap =  () => {
            zoom = this.myMap.getZoom()
            center = this.myMap.getCenter()
            let myMark = coords
            center.reverse()
            this.imgUrl = `https://static-maps.yandex.ru/1.x/?ll=${center}&size=450,450&z=${zoom}&l=map&pt=${myMark ? myMark : center},org,pmwtm1~37.64,55.76363,pmwtm99`
            this.satImg = `https://static-maps.yandex.ru/1.x/?ll=${center}&size=450,450&z=${zoom}&l=sat&pt=${myMark ? myMark : center},org,pmwtm1~37.64,55.76363,pmwtm99`
          }
        })
        .catch(error => console.log('Failed to load Yandex Maps', error));
  },
  methods: {
    closePopUp() {
      document.getElementById('background').style.display='none'
    },
    picToBlob(blob) {
      this.$refs.canvas.renderImage(blob);
    },
    loadXHR(url) {

      return new Promise(function(resolve, reject) {
        try {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", url);
          xhr.responseType = "blob";
          xhr.onerror = function() {reject("Network error.")};
          xhr.onload = function() {
            if (xhr.status === 200) {resolve(xhr.response)}
            else {reject("Loading error:" + xhr.statusText)}
          };
          xhr.send();
        }
        catch(err) {reject(err.message)}
      });
    },
    downloadImage(url) {
      let a = document.createElement('a')
      document.body.appendChild(a)
      a.href = url
      a.download = this.selectStyle
      a.click()
      window.URL.revokeObjectURL(url)
      a.remove()
    },
    typeMap() {
      this.myMap()
      this.loadXHR(this.imgUrl).then(res => {
        console.log(this.imgUrl)
        this.imgBlob = URL.createObjectURL(res)
        setTimeout(() => {
          this.$refs.canvas.renderImage(res)
        }, 1000)
      })
      // this.loadXHR(this.satImg).then(res => {
      //   console.log(res)
      // })
      let background = document.getElementById('background')
      background.style.display = 'block'
      let conva = document.getElementById('canvas')
    }

  }
}
</script>

<style >
.ymaps-2-1-79-search__suggest {
  display: block;
  width: 250px;
}

.section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#map {
  width: 800px;
  height: 80vh;
  margin: 60px auto 0;
}

.background {
  position: absolute;
  /*padding: 200px;*/
  display: none;
  top: -60px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn {
  width: 150px;

}
</style>